@import './color.scss';
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }
  @keyframes #{$animation-name} {
      @content;
  }
}

@mixin animation($name) {
-webkit-animation: #{$name};
-moz-animation: #{$name};
-ms-animation: #{$name};
-o-animation: #{$name};
animation: #{$name};
}

@include keyframes(changecolor) {
  0% {
      border-color: black;
  }

  100% {
      border-color: #ccc;
  }
}

@include keyframes(fadein) {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


@include keyframes(slideInFromBottom) {
    0% {
        top: 100%;
        opacity: 0;
        display: none;
    }
    100% {
        top: 50%;
        opacity: 1;
        display: block;
    }
  }