@mixin button-fill($bg, $color:white) {
  cursor: pointer;
  background: $bg;
  color: $color;
  @media screen and (min-width: 1000px){
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
}

@mixin button-border($color,$bg: white) {
  cursor: pointer;
  background: $bg;
  color: $color;
  border: 1px solid $color;
  @media screen and (min-width: 1000px){
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
}

@mixin button($border){
  cursor: pointer;
  color: $border;
  border: 1px solid $border;
  position: relative;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  &:hover{
    color: white;
  }
  &:before,
  &:after{
    content: '';
    position: absolute;
    z-index:-1;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $border;
    transition: width 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out;
    
  }
  
  &:hover:before,
  &:hover:after{
    width: 100%; //transition에 해당하는 element만 바뀔 때 reverse도 된다.
  }
}

@mixin button-active($bg){
  background: $bg;
  cursor: pointer;
  @media screen and (min-width: 1000px){
    &:hover {
      background:lighten($bg,8%);
    }
    &:active {
      background:lighten($bg,25%);
    } 
  }
  
}

@mixin button-border-active($bg){
  background: $bg;
  border: 1px solid $bg;
  cursor: pointer;
  @media screen and (min-width: 1000px){
    &:hover {
      background:lighten($bg,8%);
    }
    &:active {
      background:lighten($bg,25%);
    } 
  }
  
}

@mixin button-a($color){
  text-align: center;
  font-family: 'Hanna','Ubuntu',sans-serif;
  font-size: 24px;
  color: $color;
  cursor: pointer;
  @media screen and (min-width: 1000px){
    &:hover{
      color: darken($color,15%); 
    }
  }
}