@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
//Nanum Gothic
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
//Noto Sans KR
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
//Hanna
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
//Jeju Gothic

@import './util/centerer.scss';
@import './util/color.scss';
@import './util/boxshadow.scss';
@import './util/button.scss';

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-size: 80%;
}

body, span, div {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input, select, textarea {
  line-height: 1.5;
  font-family: 'Ubuntu', 'Nanum Gothic', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainContainer{
  @include centerer-with-witdh(100%);
}
.tagListContainer{
  max-height: 500px;
  transition: max-height 0.3s ease-in-out;
}

.tagList-inactive{
  max-height: 0px;
  overflow: hidden;
}

.resetTagButton{
  text-align: center;
  width: 36px;
  margin: auto;
  font-size: 2em;
  padding: .1rem;
  margin-top: 1rem;
  color: $light-red;
  background-color: $dark-yellow;
  border-radius: 100px;
  cursor: pointer;
  @include button-fill($dark-yellow);
}