@import 'util/color.scss';
@import 'util/flex.scss';
@import 'util/boxshadow.scss';
@import 'util/button.scss';

.foodInfoButton{
  @include button-a($light-red);
}

.foodInfoList{
  @include flexbox;
  @include boxShadowBottomThinLighter;
  font-family: 'Hanna','Ubuntu', sans-serif;
}
.foodInfoHeader{
  background: $light-brown;
  color: white !important;
  text-align: center;
  font-size: 24px !important;
}
.foodInfoFood{
  @include flex-0-0;
  flex-basis: 30%;
  font-size: 20px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  color: $light-brown;
}

.foodInfoTags{
  @include flex-1-1;
  font-size: 16px;
  padding: 10px;
  span{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background: $light-red;
    color: white;
    border-radius: 10px;
    margin: 0 2px;
  }
}

.foodInfoEdit{
  @include flex-0-1;
  font-size: 16px;
  text-align: center;
  color: $light-red;
  padding: 10px;
}

.foodInfoSearch{
  padding: 10px;
}

.foodInfoSearchInput{
  display: inline-block;
  margin: auto;
  width: 50%;
  padding: 5px;
  text-align: center;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Hanna','Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  outline: 0;
  z-index: 2;
  @include boxShadowBottomRightThinLighter;
}

.foodInfoSearchIcon{
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #aaa;
  margin: 0 3px;
  @include button-border(#aaa);
  color: black;
}