@import 'util/color.scss';
@import 'util/flex.scss';
@import 'util/boxshadow.scss';
@import 'util/button.scss';

.foodInfoButton{
  @include button-a($light-red);
}

.foodInfoList{
  @include flexbox;
  @include boxShadowBottomThinLighter;
  font-family: 'Hanna','Ubuntu', sans-serif;
}
.foodInfoHeader{
  background: $light-brown;
  color: white !important;
  text-align: center;
  font-size: 24px !important;
}
.foodInfoFood{
  @include flex-0-0;
  flex-basis: 30%;
  font-size: 20px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  color: $light-brown;
}

.foodInfoTags{
  @include flex-1-1;
  font-size: 16px;
  padding: 10px;
  span{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background: $light-red;
    color: white;
    border-radius: 10px;
    margin: 0 2px;
  }
}