@import './util/boxshadow.scss';
@import './util/color.scss';
@import './util/flex';
.headerContainer{
  position: relative;
  width: 100%;
  height: 60px;
  top: 0;
  align-items: center;
  @include flexbox;
}

.headerInnerContainer{
  padding: 10px;
  color: #24292e;
  @media screen and (min-width: 1000px){
    font-size: 36px;
  }
  @media screen and (max-width: 999px){
    font-size: 54px;
  }
  font-family: 'Hanna','Ubuntu',sans-serif;
  font-weight: 400;
  text-align: center;
  @include flex-1-1;
  
}