@import 'util/color.scss';
@import 'util/button.scss';

.resetTagButton{
  text-align: center;
  width: 36px;
  margin: auto;
  font-size: 2em;
  padding: .1rem;
  margin-top: 1rem;
  color: $light-red;
  background-color: $dark-yellow;
  border-radius: 100px;
  cursor: pointer;
  @include button-fill($dark-yellow);
}

.foodInfoButton{
  text-align: center;
  font-family: 'Hanna','Ubuntu',sans-serif;
  font-size: 24px;
  color: $light-red;
  cursor: pointer;
  a{
    @media screen and (min-width: 1000px){
      &:hover{
        color: darken($light-red,15%); 
      }
    }
  }
}