@import './util/centerer.scss';
@import './util/color.scss';
@import './util/boxshadow.scss';
@import './util/button.scss';
.tagFinderContainer{
  text-align: center;
  width: 100%;
}

.tagFinderContainer input{
  width: 200px;
  padding: 5px;
  z-index: 3;
  text-align: center;
  background: transparent;
  line-height: 1.5;
  vertical-align: baseline;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: 0;
  font-size: 1.2em;
  @include boxShadowBottomRightThinLighter;
  -webkit-appearance: none;
}

.tagFinderButton{
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  margin: auto;
  margin-bottom: 0px;
  border-radius: 100px;
  @include button-fill($light-red);

  transition: margin-bottom 0.3s ease-in-out;
  -webkit-transition: margin-bottom 0.3s ease-in-out;
}

.tagFinderButton-inactive{
  margin-bottom: 20px;
}

.tagFinderButtonIcon{
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tagFinderButtonIcon-rotate{
  transform: rotate(45deg);
}
.tagFinderInput{
  font-family: 'Hanna','Ubuntu',sans-serif;
  font-size: 16px;
  width: 240px;
  padding: 0px;
  height: 0px;
  visibility: hidden;
  opacity: 0;
  margin: 0px auto;
  transition: height 0.3s ease-in-out,opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out,  visibility 0.3s ease-in-out;
}
.tagFinderInput-active{
  height: 40px;
  visibility: visible;
  opacity: 1;
  
}
