@import 'util/color.scss';
.toastContainer{
  background: $light-red;
  font-family: 'Hanna','Ubuntu',sans-serif;
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;
  word-break: keep-all;
}

.toastContainer_info{
  background: $light-blue;
  font-family: 'Hanna','Ubuntu',sans-serif;
  font-size: 20px;
  text-align: center;
}